<div class="picture_slider">
<div class="bs-example">
      <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item">
            <div class="foto">
              <%= image_tag("87.jpg", :size => "600x400")%>
            </div>
            <div class= "carousel-caption">
              <h5>Take a moment to slip into your own fantasy world</h5>
            </div>
          </div>
          <div class="item active">
            <!-- <img data-src="holder.js/900x500/auto/#666:#666" alt="900x500" src="38.jpg"> -->
            <div class="foto">
              <%= image_tag("38.jpg", :size => "600x400")%>
            </div>
            <div class="carousel-caption">
              <h5>Enjoy the serenity of the most beautiful creation</h5>
            </div>
          </div>
          <div class="item">
            <div class="foto">
              <%= image_tag("171.jpg", :size => "600x400")%>
            </div>
            <div class="carousel-caption">
              <h5>Live as if you are going to die today</h5>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
        </a>
      </div>
    </div>
</div>
